:root {
  --primary-color: hsl(212, 45%, 89%);
  --secondary-color: hsl(0, 0%, 100%);
  --primary-text: hsl(218, 44%, 22%);
  --secondary-text: hsl(220, 15%, 55%);
}

body {
  background-color: var(--primary-color);
  font-family: "Outfit", sans-serif;
}

.centered-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  width: 285px;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--secondary-color);
}

.para-1 {
  color: var(--primary-text);
  font-weight: 700;
  font-size: 18px;
}

.para-2 {
  color: var(--secondary-text);
  font-weight: 400;
  font-size: 15px;
}

@media (max-width: 375px) {
  .container-fluid {
    min-width: 375px;
  }
}

@media (min-width: 1440px) {
  .container-fluid {
    max-width: 10000px;
  }
}
